<h1>My Portfolio</h1>

<h3>Search for Stocks</h3>
<div id="stock-lookup">
    <%= form_tag search_stocks_path , method: :get, id: "stock-lookup-form" do%>
        <div class="form-group row no-padding text-center col-md-12">
            <div class="col-md-10">
                <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker Symbol",
                 autofocus: true, class:"form-control search-box input-lg"%>
            </div>
            <div class="col-md-2">
                <%= button_tag(type: :submit, class:"btn btn-lg btn-success") do %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                     <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                    </svg> Look up a Stock
                <% end %>
            </div>        
        </div>
    <% end %>
</div>
<% if @stock %>
    <div class="well results-block">
        <strong>Symbol:</strong>   <%= @stock.ticker %>
        <strong>Price:</strong>   <%= @stock.last_price %>
        <strong>Name:</strong>    <%= @stock.name %>
    </div>
<% end %>